//Card

.card {
    height: 180px;
    width: 120px;
    border:solid 1px black;
    border-radius: 8px;
    text-align: center;
}

//Color

.Red {
  background-color: red;
}

.Blue {
  background-color: blue;
}

.Green {
  background-color: green;
}

//Symbol


//Number


//Shading

.Solid {

}

.Striped{
  background: repeating-linear-gradient(
  to right,

  #ffffff 10px,
  #ffffff 20px
);
}
