//Card

.card {
  height: 180px;
  width: 120px;
  border: solid 1px black;
  border-radius: 8px;
  text-align: center;
}

.Open {
  fill: transparent;

  &.Red {
    stroke: red;
    stroke-width: 4px;
  }

  &.Blue {
    stroke: blue;
    stroke-width: 4px;
  }

  &.Green {
    stroke: green;
    stroke-width: 4px;
  }
}

.Striped {
  &.Red {
    stroke: red;
    stroke-width: 4px;

    ~ .stripe-def {
      .stripe-line {
        stroke: red;
      }
    }
  }

  &.Blue {
    stroke: blue;
    stroke-width: 4px;

    ~ .stripe-def {
      .stripe-line {
        stroke: blue;
      }
    }
  }

  &.Green {
    stroke: green;
    stroke-width: 4px;

    ~ .stripe-def {
      .stripe-line {
        stroke: green;
      }
    }
  }
}

.Solid {
  &.Red {
    fill: red;
  }

  &.Blue {
    fill: blue;
  }

  &.Green {
    fill: green;
  }
}
